:root {
  --fist-text-color: #2196f3;
  --second-text-color: #212121;
  --third-text-color: #ffffff;
  --general-text-color: #757575;
  --footer-nav-text-color: rgba(255, 255, 255, 0.6);
  --fifth-color: #000000;
  --first-background-color: #2f303a;
  --team-background-color: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
a {
  text-decoration: none;
  color: inherit;
}

link {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--third-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
}
.list {
  list-style: none;
}

/*Шапка*/

.header {
  background-color: var(--third-text-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
  align-items: center;
}

.menu-list {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

/*Логотип*/
.header-logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--fist-text-color);
}

.header-logo2 {
  color: var(--fifth-color);
}

/*nav*/
.header-nav {
  display: flex;
  align-items: center;
}

.header-connect {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.menu-list .current {
  color: var(--fist-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--fist-text-color);
}

.header-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--general-text-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--fist-text-color);
}

.header-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--general-text-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--fist-text-color);
}

.connect-item:not(:last-child) {
  margin-right: 50px;
}

/*hero*/

.hero {
  background-color: var(--first-background-color);
}

/*banner*/
h1 {
  text-transform: uppercase;
}
.banner {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
}

.order {
  background-color: var(--fist-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
}

/*section1*/

.skills {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.skills-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--general-text-color);
}

/*section_work*/

.type-h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/*section_team*/

.team {
  background-color: var(--team-background-color);
}

.team-memb-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--general-text-color);
}

/* portfolio */
.active-button {
  background-color: var(--fist-text-color);
  color: var(--third-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.order2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.order2:hover {
  color: var(--third-text-color);
  background-color: var(--fist-text-color);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--general-text-color);
}

/*Футер*/

.footer {
  padding-top: 83px;
  padding-bottom: 37px;
  background-color: var(--first-background-color);
}

.footer-logo-container {
  margin-bottom: 20px;
}

.footer-logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--fist-text-color);
}

.footer-logo2 {
  color: var(--third-text-color);
}

.footer-adress {
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.adress-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--footer-nav-text-color);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--fist-text-color);
}

.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--footer-nav-text-color);
}
.footer-tel:hover,
.footer-tel:focus {
  color: var(--fist-text-color);
}
