:root {
  --fist-text-color: #2196f3;
  --second-text-color: #212121;
  --third-text-color: #ffffff;
  --general-text-color: #757575;
  --footer-nav-text-color: rgba(255, 255, 255, 0.6);
  --fifth-color: #000000;
  --first-background-color: #2f303a;
  --team-background-color: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--third-text-color);
}
ul {
  list-style: none;
}
button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
a {
  text-decoration: none;
}
link {
  text-decoration: none;
}

/*logo*/

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--fist-text-color);
}

.logo_part2 {
  color: var(--fifth-color);
}
.logo_part2_1 {
  color: var(--third-text-color);
}

/*nav*/
.navigation-current {
  color: var(--fist-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.navigation:hover,
.navigation:focus {
  color: var(--fist-text-color);
}

/*hero*/

.hero {
  background-color: var(--first-background-color);
}

/*banner*/
h1 {
  text-transform: uppercase;
}
.banner {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
}

.order {
  background-color: var(--fist-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
}

/*section1*/

.skills {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.skills-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--general-text-color);
}

/*section_work*/

.type-h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

/*section_team*/

.team {
  background-color: var(--team-background-color);
}

.team-memb-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--general-text-color);
}

/*footer*/

.footer {
  background-color: var(--first-background-color);
}

/* portfolio */
.active-button {
  background-color: var(--fist-text-color);
  color: var(--third-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.order2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.order2:hover {
  color: var(--third-text-color);
  background-color: var(--fist-text-color);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
}

.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--general-text-color);
}

.adress1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
.adress2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--general-text-color);
}
.adress2:hover,
.adress2:focus {
  color: var(--fist-text-color);
}
