:root {
  --fist-text-color: #2196f3;
  --second-text-color: #212121;
  --third-text-color: #ffffff;
  --general-text-color: #757575;
  --footer-nav-text-color: rgba(255, 255, 255, 0.6);
  --fifth-color: #000000;
  --first-background-color: #2f303a;
  --team-background-color: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--third-text-color);
}
h1 h2 h3 h4 h5 h6 p ul {
  list-style: none;
}
button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
a {
  text-decoration: none;
}
link {
  text-decoration: none;
}

/*Шапка*/

.main-nav {
  display: flex;
  align-items: center;
}

/*logo*/

.logo {
  display: flex;

  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 215px;

  color: var(--fist-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo_part2 {
  color: var(--fifth-color);
}
.logo_part2_1 {
  color: var(--third-text-color);
}

/*nav*/

.site-nav {
  display: flex;
  margin: auto;
}

.menu {
  margin-left: 93px;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.navigation {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--second-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .current {
  color: var(--fist-text-color);
}

.navigation:hover,
.navigation:focus {
  color: var(--fist-text-color);
}

.adress {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--general-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adress:hover,
.adress:focus {
  color: var(--fist-text-color);
}

/*hero*/

.hero {
  display: block;
  box-sizing: border-box;
  height: 600px;
  width: auto;
  background-color: var(--first-background-color);
}

.banner {
  padding-top: 200px;
  margin-left: 452px;
  width: 696px;
  height: 120px;

  text-align: center;
  text-transform: uppercase;
  color: var(--third-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.order {
  width: 200px;
  height: 50px;

  margin-left: 700px;
  align-items: center;

  background-color: var(--fist-text-color);
  color: var(--third-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  font-family: inherit;
}

/*section1*/

.skills {
  text-transform: uppercase;

  color: var(--second-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.skills-info {
  color: var(--general-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*section_work*/

.type-h2 {
  color: var(--second-text-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

/*section_team*/

.team {
  background-color: var(--team-background-color);
}

.team-memb-name {
  color: var(--second-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-position {
  color: var(--general-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*footer*/

.footer {
  background-color: var(--first-background-color);
}

/* portfolio */
.active-button {
  background-color: var(--fist-text-color);
  color: var(--third-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.order2 {
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.order2:hover {
  color: var(--third-text-color);
  background-color: var(--fist-text-color);
}

.project-title {
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  color: var(--general-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.adress2 {
  color: var(--third-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.adress3 {
  color: var(--footer-nav-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
}
.adress3:hover,
.adress3:focus {
  color: var(--fist-text-color);
}
